:root {
  --primary-bg-color: #f7f7f8;
  --secondary-bg-color: #e9f7f9;
  --font-color: #1d1f20;
}

html {
  font-size: calc(12px + 0.15vw);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  line-height: 1.5;
  font-size: 1.05rem;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--primary-bg-color);
}

.main {
  width: 80vw;
  margin: 8vh auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

.card {
  border-radius: 0.5rem;
  margin: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-header {
  padding: 1.2rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.2rem;
}

.calendar {
  font-size: 2.5rem;
  margin-right: 0.6rem;
}
.date {
  font-size: 1.2rem;
}
.card-main {
  padding: 1.2rem;
}

.status-control {
  display: block;
  padding: 0.5rem;
  color: rgb(1, 5, 1);
  font-size: 0.9rem;
  border-radius: 2rem;
}

.status-control--submited {
  background-color: #79c698;
}
.status-control--paid {
  background-color: #f8c296;
}
.status-control--pending {
  background-color: #2c365e;
  color: #fff;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.1rem;
}
.location-link {
  text-decoration: none;
  margin-left: 0.6rem;
  color: var(--font-color);
}

.requirements {
  font-weight: 700;
}

.requirements-list {
  margin-bottom: 1.1rem;
}
.requirement-item {
  margin: 0.5rem 0 0.5rem 1rem;
}

.card-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.info-title {
  font-weight: 700;
  flex-grow: 2;
  margin: 0.5rem 0;
}

.info-body {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.aplicants-icon {
  margin-left: 0.6em;
}